body{
    background-color: #dddddd;
}

.layui-container{
    margin-top: 3%;
}

#display{
    /* margin-top: 2%; */
    /* border-radius: 2%; */
    box-shadow: 2px 10px 15px black;
    border: 2px solid #dddddd;
    margin-bottom: 1%;
    float: right;

}

#display div div img{
    width: 100%;
    height: 100%;
}

/* .layui-side{
    z-index: -1;
    margin-left: 5%;
    margin-top: 5%;
    width: 20%;
    padding-right: 2%;
} */

#card0{
    width: 80.5%;
    float: right;
    margin-top: 2%;
}

.layui-card{
    /* box-shadow: 2px 10px 15px #838383; */
}

#spiderCard{
    box-shadow: 2px 5px 10px #838383;
    /* width: 30%; */
    height: 115px;
    margin-left: 2.5%;
    /* margin-top: 1.5%;
    padding-top: 1.5%; */
}

#weather-card{
    margin: 2%;
}

#real-temperature{
    font-size: 300%;
}

#weather-detail{
    float: right;
    margin-top: 15%;
}

#new-menu{
    margin-top: 45%;
    box-shadow: 2px 5px 10px #838383;
    border: 2px solid #ffffff;
}

#img-panel{
    padding: 1px;
}

#new-img-con{
    width: 300px;
    height: 120px;
    padding: 0;
}

#new-img{
    width: 100%;
    height: 100%;
}

#arti-list{
    overflow-y: auto;
    height: 500px;
    padding-right: 4%;
    padding-left: 4%;
}


#arti-info{
    margin: 2%;
    display: block;
    position: relative;
    transition: all 300ms;
    box-shadow: 2px 4px 4px #dddddd;
}

#arti-info:hover{
    transform: scale(1.1);
    transition: all 300ms;
}

#arti-info-r{
    display: block;
    float: right;
    margin-left: 20px;
}

#arti-info-l{
    width: 70%;
    padding-bottom: 20px;
    min-height: 90px;
    position: relative;
    /* float: left; */
}
#arti-info-l a{
    display: inline-block;
    line-height: 210%;
}

#arti-info-l a:hover{
    color: #2d91aa
}

#arti-cover{
    width: 100px;
    height: 100px;
}

#arti-cover img{
    width: 100%;
    height: 100%;
    border-radius: 2%;
    transition: all 0.5s;
}

#arti-cover img:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}


#arti-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #777777;
}
#arti-footer div{
    display: inline-block;
    margin-right: 2%;
}