#wrap{
    margin-top: 3%;
}


#wrap form{
    float: right;
    margin-right: 2%;
}
/* 
.layui-form-label{
    padding-left: 0;
    padding-right: 5px;
} */

#drag{
    padding: 5%;
    margin-left: 2%;
}

#btn-pos{
    position: fixed;
    /* margin-right: 4; */
    top: 230px;
    left: 550px;
    float: right;
}
